/* You can add global styles to this file, and also import other style files */
body, html {
  height: 100%;
  font-family: Roboto, sans-serif;
  background:  linear-gradient(
  545deg,
  rgb(252, 228,252),
  rgb(218, 228, 255)
  );
}
